@CHARSET "ISO-8859-1";

body {
	background-color: rgb(255, 255, 255);
	/*background-color: #808080;*/
	font: 400 1em/1.38 Helvetica;
	color: rgb(0, 0, 0);
}

.required {
	color: red;
}

.text {
	float: left;
	color: #49708f;
}

._button {
	display: block;
	position: relative;
	float: left;
	border-radius: 3px;
	background: linear-gradient(#49708f, #293f50);
	font-size: 1em;
	text-align: center;
	color: #fff;
}

._input {
	display: block;
	float: left;
	height: 30px;
	padding: 0 10px;
	background: #fff;
	font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #636466;
	border: 1px solid #c6c7cc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	border-radius: 5px;
}

.text-1 {
	width: 13.25%;
	min-height: 22px;
	margin: 48px 0 0 16.79948%;
	font-size: 1.125em;
}

.text-2 {
	position: relative;
	clear: both;
	z-index: 9;
	width: 14.1666666666%;
	min-height: 30px;
	margin: 13px 0 0 16.79948%;
	font-size: 1em;
}

.text-3 {
	position: relative;
	clear: both;
	z-index: 2;
	width: 14.1666666666%;
	min-height: 30px;
	margin: 10px 0 0 16.79948%;
	font-size: 1em;
}

.text-4 {
	position: relative;
	clear: both;
	z-index: 4;
	width: 14.1666666666%;
	min-height: 30px;
	margin: 7px 0 0 16.79948%;
	font-size: 1em;
}

.text-5 {
	position: relative;
	clear: both;
	z-index: 8;
	width: 13.6666666666%;
	min-height: 30px;
	margin: 10px 0 0 16.79948%;
	font-size: 1em;
}

.text-6 {
	position: relative;
	clear: both;
	z-index: 6;
	width: 13.6666666666%;
	min-height: 30px;
	margin: 13px 0 0 16.79948%;
	font-size: 1em;
}

.text-7 {
  position: relative;
  clear: both;
  z-index: 15;
  width: 13.6666666666%;
  min-height: 30px;
  margin: 16px 0 0 16.8%;
  font-size: 1em;
}

.text-8 {
	position: relative;
	z-index: 12;
	width: 6.8333333333%;
	min-height: 30px;
	margin: 10px 0 0 16.8%;
	font-size: 1em;
}

.select1 {
	clear: both;
	z-index: 16;
	width: 14.3333333333%;
	height: 25px;
	margin: -32px 0 0 31.63151%;
	display: block;
	position: relative;
	float: left;
	padding: 0 10px;
	background: #fff;
	font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #636466;
	border: 1px solid #c6c7cc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	border-radius: 5px;
}

._button-1 {
	z-index: 13;
	width: 1.8333333333%;
	height: 20px;
	margin: 11px 0 0 0.64974%;
}

._button-2 {
	z-index: 14;
	width: 1.8333333333%;
	height: 20px;
	margin-top: 11px;
}

._button-3 {
	clear: both;
	z-index: 0;
	width: 10.3333333333%;
	height: 29px;
	margin: 29px 0 0 31.63151%;
}

._button-4 {
	z-index: 15;
	width: 10.3333333333%;
	height: 29px;
	margin: 29px 0 0 7.23047%;
}

._input-1 {
	position: relative;
	z-index: 10;
	width: 24.3333333333%;
	margin: 13px 0 0 0.66667%;
}

._input-2 {
	position: relative;
	z-index: 7;
	width: 24.3333333333%;
	margin: 10px 0 0 0.66667%;
}

._input-3 {
	position: relative;
	z-index: 3;
	width: 24.3333333333%;
	margin: 7px 0 0 0.66667%;
}

._input-4 {
	position: relative;
	z-index: 5;
	width: 24.3333333333%;
	margin: 10px 0 0 1.16667%;
}

._input-5 {
	position: relative;
	z-index: 16;
	width: 35.1666666666%;
	margin: 13px 0 0 1.16667%;
	padding: 5px 10px;
	height: 88px;
}