<hr>

<h3 style="line-height:20px">Avialable PromoCodes Page {{ currentPage }}</h3>

<br>

 <div  ng-init="showData()">
        
<form autocomplete="off">
<table class="table table-striped " border=1>
<tr>
            <td align="right">Search By :</td>
            <td>
                <select ng-model="queryBy">
                    <option value="$"></option>
                    <option value="ticketName">Ticket Name</option>
                    <option value="discountAccess">Discount Access</option>
                    <option value="namePublicDiscount">Public Discount Name</option>
                </select>   
            </td>
            <td align="right">Search :</td>
            <td><input ng-model="query[queryBy]" /></td>
       <td >items per page:
              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
           </td>
        </tr>           
        
    </table>

<table class="table table-striped " border=1>

<tr>
<td> <b>Ticket Name</td>
<td> <b>Promotion Type</td>
<td> <b>Discount Access</td>
<td> <b>Code</td>
<td> <b>Public Discount Name</td>
<td> <b>Discount Per Ticket </td>
<td> <b>Uses Per Offer </td>
<td> <b>Start Date Time </td>

</tr>

<tr dir-paginate= "pc in promoCode| filter:query | itemsPerPage: pageSize" current-page="currentPage">

<td><span ng-hide="pc.isEditVisible">{{pc.ticketName}}</span>
<input type="text" ng-model="pc.ticketName" ng-show="pc.isEditVisible"></td>

<td><span ng-hide="pc.isEditVisible">{{pc.promotionType}}</span>
<input type="text" ng-model="pc.promotionType" ng-show="pc.isEditVisible"></td>

<td><span ng-hide="pc.isEditVisible">{{pc.discountAccess}}</span>
<input type="text" ng-model="pc.discountAccess" ng-show="pc.isEditVisible"></td>

<td><span ng-hide="pc.isEditVisible">{{pc.code}}</span>
<input type="text" ng-model="pc.code" ng-show="pc.isEditVisible" autocomplete="off"></td>


<td><span ng-hide="pc.isEditVisible">{{pc.namePublicDiscount}}</span>
<input type="text" ng-model="pc.namePublicDiscount" ng-show="pc.isEditVisible" autocomplete="off"></td>

<td><span ng-hide="pc.isEditVisible">{{pc.discountPerTicket}}</span>
<input type="text" ng-model="pc.discountPerTicket" ng-show="pc.isEditVisible" autocomplete="off"></td>

<td><span ng-hide="pc.isEditVisible">{{pc.usesPerOffer}}</span>
<input type="text" ng-model="pc.usesPerOffer" ng-show="pc.isEditVisible" autocomplete="off"></td>

<td><span ng-hide="pc.isEditVisible">{{pc.startDateTime}}</span>
<input type="text" ng-model="pc.startDateTime" ng-show="pc.isEditVisible" autocomplete="off"></td>

</tr>
</table>
<div class="other-controller">
<div class="text-center">
<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="partialPages/dirPagination.tpl.html">
</dir-pagination-controls>
      </div>  </div>

</form>
        
<div class="pagination pagination-centered" ng-show="library.length">
<ul class="pagination-controle pagination">
 <li>
  <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
 ng-click="curPage=curPage-1"> &lt; PREV</button>
 </li>
 <li>
 <span>Page {{curPage + 1}}</span>
<!--  <span>Page {{curPage + 1}} {{ numberOfPages() }}  </span> -->
 </li>
 <li>
 <button type="button" class="btn btn-primary"
 ng-disabled="curPage >= library.length/pageSize - 1"
 ng-click="curPage = curPage+1">NEXT &gt;</button>
 </li>
</ul>
</div>
    
    
    
    </div>