<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SimplyOffice | New Task Details</title>

<link rel="stylesheet" href="css/standardize.css">
<link rel="stylesheet" href="css/newtask-grid.css">
<link rel="stylesheet" href="css/newtask.css">

</head>
<body class="body page-main clearfix">
	<form>

		<p class="text text-1">Task Details:</p>
		<p class="text text-2">
			Client Name:<span class="required">*</span>
		</p>
		<input class="_input _input-1" type="text" placeholder="Enter Client Name" ng-model="pc.ClientName" name="ClientName">

		<p class="text text-3">
			Task Status:<span class="required">*</span>
		</p>
		<select class="select" ng-model="pc.TaskStat">
			<option value="">--Select TaskStatus--</option>
			<option value="inprogress">Inprogress</option>
			<option value="pending">Pending</option>
			<option value="stuck">Stuck</option>
			<option value="completed">Completed</option>
		</select>

		<p class="text text-4">
			Service Type:<span class="required">*</span>
		</p>
		<select class="select1" ng-model="pc.ServiceType">
		    <option value="">--Select ServiceType--</option>
			<option value="Accounting">Accounting</option>
			<option value="Audit">Audit</option>
			<option value="AnnualFilling">Annual Filling</option>
			<option value="ConsultationServices">Consultation Services</option>
			<option value="GST">GST</option>
			<option value="IncomeTaxReturn">I-T Return</option>
			<option value="Miscellaneous Activities">Miscellaneous
				Activities</option>
			<option value="Profession Tax">Profession Tax</option>
			<option value="ROC">ROC</option>
			<option value="SalesTax">Sales Tax</option>
			<option value="ServiceTax">Service Tax</option>
			<option value="TDS">TDS</option>
		</select>

		<p class="text text-5">
			Assignee Name:<span class="required">*</span>
		</p>
		<input class="_input _input-4" type="text" placeholder="Enter Task Assignee Name" ng-model="pc.TaskAssigneeName" name="TaskAssigneeName">

		<p class="text text-6">
			Task Due Date:<span class="required">*</span>
		</p>
		<input class="_input _input-5" type="text" placeholder="Enter Task Due Date" ng-model="pc.TaskDueDte" name="TaskDueDate">

		<p class="text text-7">
			Assigned Name:<span class="required">*</span>
		</p>
		<input class="_input _input-6" type="text" placeholder="Enter Task Assigned Name" ng-model="pc.TaskAssignedName" name="TaskAssignedName">

		<p class="text text-8">
			Task Assigned Date:<span class="required">*</span>
		</p>
		<input class="_input _input-7" type="text" placeholder="Enter Task Assigned Date" ng-model="pc.TaskAssignedDte" name="TaskAssignedDte">

		<p class="text text-9">
			Task Completed Date:<span class="required">*</span>
		</p>
		<input class="_input _input-8" type="text" placeholder="Enter Task Completed Date" ng-model="pc.TaskCompleteDte" name="TaskCompleteDte">

		<p class="text text-10">
			Fee Charged:<span class="required">*</span>
		</p>
		<input class="_input _input-9" type="text" placeholder="Enter Fee Charged" ng-model="pc.FeeCharged" name="FeeCharged">

		<p class="text text-11">
			Fee Received:<span class="required">*</span>
		</p>
		<input class="_input _input-10" type="text" placeholder="Enter Fee Received" ng-model="pc.FeeReceived" name="FeeReceived">

		<p class="text text-12">Task Comments:</p>
		<textarea class="_input _input-11" ng-model="pc.TaskComments" name="TaskComments">mm/dd/yy: Task Status</textarea>

		<input class="_button _button-1" type="submit" ng-click="addPromoCode(pc)" value="Add New Task">

	</form>

</body>
</html>